<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="_Oving7.ipynb">Øving 7</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="00_generelt_om_dictionaries.ipynb">Generelt om dictionaries</a></li>
      <li><a href="01_innebygde_funksjoner_i_dictionaries.ipynb">Innebygde funksjoner i dictionaries</a></li>
      <li class="active"><a href="02_generelt_om_sets.ipynb">Generelt om sets</a></li>
      <li><a href="03_generelt_om_filbehandling.ipynb">Generelt om filbehandling</a></li>
      <li><a href="04_osteviruset.ipynb">Osteviruset</a></li>
      <li><a href="05_bursdagsdatabasen.ipynb">Bursdagsdatabasen</a></li>
      <li><a href="06_tallak_teller_antall_tall.ipynb">Tallak teller antall tall</a></li>
      <li><a href="07_tidtaking.ipynb">Tidtaking</a></li>
      <li><a href="08_kodekvalitet.ipynb">Kodekvalitet</a></li>
      <li><a href="09_opptaksgrenser.ipynb">Opptaksgrenser</a></li>
      <li><a href="10_soke_i_tekst.ipynb">Søke i tekst</a></li>
      <li><a href="11_bokanalyse_med_plotting.ipynb">Bokanalyse med plotting</a></li>
      <li><a href="12_tre_pa_rad.ipynb">Tre på rad</a></li>
      <li><a href="13_enhetstesting.ipynb">Enhetstesting</a></li>
    </ul>
  </div>
</nav>

# Generelt om sets

**Læringsmål:**

- Sets
- Lister

**Starting Out with Python:**

- Kap. 9.2

## Generelt om sets

Det kan være lurt å lese gjennom dette før du går videre.

Et set (på norsk: mengde) inneholder en samling av unike verdier og fungerer på samme måte som et set i matematikken. Forskjellen på et set og en liste er at en liste kan inneholde flere like elementer, for eksempel:

In [1]:
liste = [1, 2, 3, 1, 2, 3]

Altså kan vi finne alle tallene to ganger. Dette går ikke i et set ettersom alle elementene i et set er ulike. Tilsvarende set ser slik ut:

In [2]:
my_set = set([1, 2, 3])

På samme måte som vi kunne opprette en dictionary ved å skrive `my_dict = dict()`, kan vi opprette et set ved å skrive:

In [3]:
my_set = set()

For å legge til et element i et set kan vi benytte oss av `add()`. **Husk å kjøre koden over før du kjører koden under**

In [4]:
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(3)
my_set.add(3)
print(my_set)

{1, 2, 3}

For å legge til flere elementer på samme gang, kan `update()` benyttes.

For å fjerne et element kan vi benytte oss av `remove()` eller `discard()` (Forskjellen er at `remove()` vil gi en feilmelding hvis elementet ikke er i setet, mens `discard()` vil bare ignorere det og ikke gjøre noe).

In [5]:
my_set.remove(2)
print(my_set)

{1, 3}

De fleste ting fungerer likt mellom sets og lister, og her er noen eksempler:

- Iterering gjennom setet/listen
- Sjekke om et element er i setet/listen
- Finne lengden til setet/listen

Dersom du har hatt sannsynlighet er du kanskje godt kjent med venndiagram. Da har du sikkert hørt om union og snitt. Dersom vi har to sets

In [6]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8])
set2 = set([0, 2, 4, 6, 8, 10, 12])

kan vi se at begge setene inneholder 2, 4, 6 og 8. Dette er det som kalles intersection, eller snitt. På figuren under kan vi se at snittet er det feltet hvor sirklene overlapper.

![img](../../Resources/Images/Set-eksempel.png)

For å finne snittet av set1 og set2 kan vi skrive som under. **Kjør kun koden under dersom du har kjørt forrige kodeblokk som initialiserer set1 og set2.**

In [7]:
set3 = set1.intersection(set2)
set3 = set2.intersection(set1)
set3 = set1 & set2
print(set3)

{8, 2, 4, 6}

Alle de tre første linjene i kodeblokken over er ekvivalente.

Union er et annet nyttig ord, og det vil si tallene som enten er i set1 eller set2 eller begge, dvs. alle tallene som er med. For å finne unionen av set1 og set2 kan vi skrive:

In [8]:
set3 = set1.union(set2)
set3 = set2.union(set1)
set3 = set1 | set2
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12}

Her gjør også alle de tre øverste kodelinjene akkurat det samme.

Tallene som er i set1, men ikke i set2, dvs. 1, 3, 5 og 7 kan vi finne ved å skrive

In [9]:
set3 = set1.difference(set2)
set3 = set1 - set2  # Denne linja og linja over gjør akkurat det samme
print(set3)

{1, 3, 5, 7}

For å finne elementene som er i set2 men ikke set1 er det bare å bytte om på set1 og set2 i koden over.

Symmetric difference vil si alle tallene som er i set1 eller set2 (dvs. unionen) minus snittet (tallene som er i begge setene). I dette tilfelle er det 0,1,3,5,7,10 og 12.

Dette finner vi slik:

In [10]:
set3 = set1.symmetric_difference(set2)
set3 = set2.symmetric_difference(set1)
set3 = set1 ^ set2  # set3 = {0, 1, 3, 5, 7, 10, 12}
print(set3)

{0, 1, 3, 5, 7, 10, 12}

Her gjør også de tre første linjene akkurat det samme.

## a)

Lag et tomt set som heter `my_set`, legg til alle oddetallene opp til 20 i setet ved å bruke en for-løkke og print setet

***Skriv koden i kodeblokken under***

In [17]:
# Min kode
my_set = set()

for i in range(1,20,2):
    my_set.add(i)
print(my_set)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

Har du gjort det riktig skal output være

```python
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}
```

## b)

Lag et nytt set som heter `my_set2` og inneholder alle oddetallene frem til 10.

***Skriv din koden i kodeblokken under***

In [19]:
# Min kode
my_set2 = set()

for i in range(1,10,2):
    my_set2.add(i)

Har du gjort det riktig skal kodeblokken under printe `{1, 3, 5, 7, 9}`

In [20]:
print(my_set2)

{1, 3, 5, 7, 9}

## c)

Lag et set `my_set3` som inneholder alle tallene som er i setet fra a) men ikke i setet fra b).

***Skriv koden i kodeblokken under***

In [25]:
# Min kode
my_set3 = my_set - my_set2

Har du gjort det riktig skal kodeblokken under printe `{11, 13, 15, 17, 19}`

In [29]:
print(my_set3)

{11, 13, 15, 17, 19}

## d)

Dersom du tar snittet av setet fra b) og setet fra c), hva forventer du å få da? Hva med a) og c)?

**Svar:** 

Snitt av settet i b og c: Er ingen like elementer i b og c, så forventer å få et tomt sett.

Snitt av settet i a og c: Forventer å få {11, 13, 17, 19}

## e)

Bruk de innebygde funksjonene `len()` og `set()` til å lage en funksjon `all_unique(lst)`, som returnerer `True` om listen `lst` inneholder unike elementer og ellers returnerer `False`.

***Skriv koden i kodeblokken under:***

In [ ]:
# Min kode
def all_unique(lst):
    return len(lst) == len(set(lst)) # Om lengden av lista er lik lengden av settet, inneholder lista unike elementer

Har du gjort det riktig kan du teste med koden under (etter å ha kjørt din egen kodeblokk)

In [31]:
print(all_unique([1, 3, 2, 6, 8]))
print(all_unique([1, 3, 5, 2, 3, 7]))

True
False

Output fra denne burde være:

```python
True
False
```

## f)

Bruk de innebygde funksjonene `list()` og `set()` til å lage en funksjon `remove_duplicates(lst)`, som fjerner duplikater fra listen `lst` og returner den modifiserte listen.

***Skriv koden i kodeblokken under***

In [32]:
# Min kode
def remove_duplicates(lst):
    return list(set(lst))

Du kan teste koden din med koden under (etter å ha kjørt din egen kodeblokk)

In [33]:
print(remove_duplicates([1, 3, 5, 2, 3, 7]))

[1, 2, 3, 5, 7]

Har du gjort alt riktig skal output fra denne være:

```python
[1, 2, 3, 5, 7]
```